        body {
            background: url('image/Backgroundimage.png') no-repeat center center fixed;          
        }
       
       .top-left-box {
      position: absolute;
      top: 0;
      left: 0;
    }
    img {
      height: 80px;
      display: block;
    }
